<h3>Dropdown positioning tests</h3>

<form id="default">
  <div *ngIf="isInDom" class="form-group form-inline d-inline-block mr-3">
    <div id="dropdown" ngbDropdown class="d-inline-block mr-1 mb-1" [autoClose]="false" [container]="container" [placement]="placement">
      <button class="btn btn-outline-secondary" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu id="dropdownMenu">
        <button class="dropdown-item">Item</button>
      </div>
    </div>
    <br />
    <div id="dropdownWithTemplate" ngbDropdown class="d-inline-block" [autoClose]="false" [container]="container" [placement]="placement">
      <button class="btn btn-outline-secondary" ngbDropdownToggle>Dropdown with template</button>
      <div ngbDropdownMenu id="dropdownWithTemplateMenu" *ngIf="true">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
  </div>

  <div class="d-inline-block ml-3">
    <div class="mb-1">
      <button class="btn btn-outline-secondary mr-1" id="isInDom-true" (click)="isInDom = true">Add in dom</button>
      <button class="btn btn-outline-secondary mr-1" id="isInDom-false" (click)="isInDom = false">Remove from dom</button>
      <button class="btn btn-outline-secondary mr-1 ml-2" id="container-body" (click)="toggleContainer('body')">Append to body</button>
      <button class="btn btn-outline-secondary" id="container-null" (click)="toggleContainer(null)">Append to widget</button>
    </div>
    <div>
      <button class="btn btn-outline-secondary mr-1 ml-2" id="placement-top-left" (click)="togglePlacement('top-left')">On top-left</button>
      <button class="btn btn-outline-secondary mr-1" id="placement-bottom-left" (click)="togglePlacement('bottom-left')">On bottom-left</button>
      <button class="btn btn-outline-secondary mr-1 ml-2" id="placement-top-right" (click)="togglePlacement('top-right')">On top-right</button>
      <button class="btn btn-outline-secondary mr-1" id="placement-bottom-right" (click)="togglePlacement('bottom-right')">On bottom-right</button>
    </div>
  </div>

</form>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand">Dropdowns in navbar</span>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
          Static
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
        </div>
      </li>

      <li class="nav-item" ngbDropdown [container]="container">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
          Static right
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
        </div>
      </li>

      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right" [container]="container">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
          Dynamic
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
          <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


